.about-me {
    width: 100%;
    height: 100%;
    padding: 10rem 0;
    background-color: #faf7f07e;
}
.about-me-content {
    width: 90%;
    display: flex;
}
.about-me-col-left {
    width: 90%;
    height: 100%;
    text-align: center;
}
.about-me-content img {
    width: 85%;
    box-shadow: -10px 10px 1px rgba(255, 166, 0, 0.644);
}
.about-me-col-right {
    width: 100%;
}
.about-me-col-right h2 {
    text-transform: uppercase;
    font-size: 4rem;
}
.about-me-col-right span {
    display: block;
    text-transform: uppercase;
    font-size: 5rem;
    font-weight: bolder;
    color: #999;
    user-select: none;
}
.about-me-col-right .about-me-button {
    background-color: #faf7f07e;
}