/* .contact {
    width: 100%;
    height: 100%;
    background: #eee;
    background: #fff;
    padding-bottom: 5rem;
}
.contact-top {
    text-align: center;
    padding: 6rem 0 0 0;
}
.contact-top i {
    color: orange;
    font-size: 20px;
}
.contact-top h2 {
    text-transform: capitalize;
    font-size: 3rem;
}
.contact-top span {
    padding: 10px;
}
.contact-top span i {
    padding: 5px;
}
.contact-content {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 20px;
}
.contact-content-col-left {
    width: 100%;
    height: 100%;
    text-align: center;
}
.contact-content-col-left img {
    width: 50%;
    padding-top: 3rem;
    user-select: none;
}
.contact-content-col-right {
    width: 100%;
    height: 100%;
}
.contact-content-col-right form {
    padding: 20px;
}
.contact-content-col-right form input {
    width: 50%;
    padding: 15px;
    background: #eee;
    text-transform: capitalize;
    border: none;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    margin-bottom: 10px;
    outline: none;
}
.contact-content-col-right form textarea {
    width: 50%;
    padding: 15px;
    background: #eee;
    text-transform: capitalize;
    border: none;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    outline: none;
}
.contact-content-col-right form .submit button {
    width: 25%;
    font-size: 16px;
    padding: 15px;
    margin-top: 1rem;
    text-transform: capitalize;
    border-radius: 10px;
    border: 2px solid  orange;
    background: orange;
    cursor: pointer;
    color: #555;
    font-weight: 700;
}
.contact-content-col-right form .submit button i {
    padding-right: 5px;
}
.contact-content-col-right form .submit button:hover {
    color: #000;
    transition: all .9s ease-in-out;
    -webkit-transition: all .9s ease-in-out;
    -moz-transition: all .9s ease-in-out;
    -ms-transition: all .9s ease-in-out;
    -o-transition: all .9s ease-in-out;
} */
.sections-title {
    padding: 0 0 30px 0;
    text-transform: capitalize;
    font-size: 2rem;
    font-weight: 700;
    text-align: center;
    letter-spacing: 2px;
}
.sections-intro {
    font-size: 17px;
    color: #777;
    text-align: center;
    line-height: 1.5;
    margin-bottom: 30px;
}
.contact {
    background-color: #fff;
}
.contact .contact-content {
    padding: 100px 0;

}
.contact-cards {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}
.contact-card {
    margin: 0 10px ;
    width: 50%;
}
.contact-card .name-email  {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 20px;
    width: 100%;
    margin-bottom: 30px;
}
.contact-card input, .contact-card textarea{
    font-family: Arial, Helvetica, sans-serif;
}
.contact-card .name-email input {
    width: 100%;
    padding: 20px;
    outline: none;
    border: none;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    background-color: #f2f2fe;
}
.contact-card .name-email input:focus, .contact-card .message textarea:focus {
    border: 3px solid #8261ee85;
    border: 3px solid rgba(255, 166, 0, 0.808);;
}
.contact-card .name-email input::placeholder {
    text-transform: capitalize;
}
.contact-card .message textarea{
    width: 100%;
    padding: 20px;
    outline: none;
    border: none;
    text-transform: capitalize;
    background-color: #f2f2fe;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}
form [type="submit"] {
    color: white;
    text-transform: uppercase;
    letter-spacing: 0.25px;
    width: 150px;
    height: 50px;
    outline: none;
    border: none;
    background-color: rgb(230, 149, 0);
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    transition: background-color 0.3s ease-in-out;
    -webkit-transition: background-color 0.3s ease-in-out;
    -moz-transition: background-color 0.3s ease-in-out;
    -ms-transition: background-color 0.3s ease-in-out;
    -o-transition: background-color 0.3s ease-in-out;
    cursor: pointer;
    margin-top: 50px;
    text-transform: capitalize;
}
form [type="submit"]:hover {
    background: rgba(255, 166, 0, 0.699);
}