@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans:ital@1&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: sans-serif;
    background-color: #f1f1f1;
}
.icon{
    color: #009688;
    /* color: #002651; */
}

.main{
    width: 98%;
    height: 100%;
    margin: 15px;
    display: flex;
    flex-direction: row;
}
.information-one{
    width: 50%;  
    height: 100%; 
    border: 1px solid #e8e8e8;
    box-shadow: 1px 1px 10px 1px rgba(0,0,0,0.5);
    background-color: #fff;
}
.information-one .img{
    width: 100%;
    position: relative;
}
.information-one .img img{
    width: 100%;
    box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.281);
}

.information-one .img .name{
    position: absolute;
    content: " ";
    left: 0;
    bottom: 0;
    color: whitesmoke;
    text-transform: capitalize;
    font-size: 35px;
    width: 100%;
    height: 10%;
    background: #009688;
    text-align: center;
}
.info-adress{
    width: 100%;
    padding: 15px;
}
.info-adress .adress-content{
    text-transform: capitalize;
    font-size: 18px;
    padding: 0 0 10px 0;
    color: #757575
}
.info-adress .adress-content i{
    padding: 10px 10px 0 0 ;
}

.skills{
    width: 95%;
    margin: auto;

}
.skills .skills-title{
    font-size: 25px;
    text-transform: capitalize;
    color: #757575;
    margin-bottom: 20px;
}
.skills .skills-title i{
    padding: 10px 10px 0 0 ;
    font-size: 30px;
}
.skills .skills-title-tow{
    font-size: 20px;
    text-transform: capitalize;
    color: black;
    margin:20px 0;
}
.skills .skills-title-tow i{
    padding: 10px 10px 0 0 ;
    font-size: 17px;
}
.skills p{
    text-transform: capitalize;
    color: #757575;
    padding: 10px 0 10px;
}
.skills .programming{
    text-transform: uppercase;
}
.progress-one{
    width: 100%;
    height: 20px;
    border-radius: 20px;
    background-color: #f1f1f1;
}
.progress-one .progress-content-one{
    width: 0;
    opacity: 0;
    background-color: #002651;
    background: linear-gradient(to right, rgb(128, 128, 128), rgb(63, 173, 168));
    border-radius: 20px;
    height: 20px;
    color: white;
    text-align: center;
    font-size: 13px;
    padding-top: 3px;
    transition: all 2s ease;
}
.progress-two{
    width: 100%;
    height: 20px;
    border-radius: 20px;
    background-color: #f1f1f1;
}
.progress-two .progress-content-two{
    width: 0;
    opacity: 0;
    background-color: #002651;
    background: linear-gradient(to right, rgb(128, 128, 128), rgb(63, 173, 168));
    border-radius: 20px;
    height: 20px;
    color: white;
    text-align: center;
    font-size: 13px;
    padding-top: 3px;
    transition: all 2s ease;
}
.progress-three{
    width: 100%;
    height: 20px;
    border-radius: 20px;
    background-color: #e8e8e8;
}
.progress-three .progress-content-three{
    width: 0;
    opacity: 0;
    background-color: #002651;
    background: linear-gradient(to right, rgb(128, 128, 128), rgb(63, 173, 168));
    border-radius: 20px;
    height: 20px;
    color: white;
    text-align: center;
    font-size: 13px;
    padding-top: 3px;
    transition: all 2s ease;
}
.progress-python{
    width: 100%;
    height: 20px;
    border-radius: 20px;
    background-color: #e8e8e8;
}
.progress-python .progress-content-python{
    width: 0;
    opacity: 0;
    background-color: #002651;
    background: linear-gradient(to right, rgb(128, 128, 128), rgb(63, 173, 168));
    border-radius: 20px;
    height: 20px;
    color: white;
    text-align: center;
    font-size: 13px;
    padding-top: 3px;
    transition: all 2s ease;
}
.progress-four{
    margin-bottom: 10px;
}
.progress-four,.progress-five,.progress-six,.progress-seven,.progress-eight{
    width: 100%;
    height: 20px;
    border-radius: 20px;
    background-color: #e8e8e8;
}
.progress-four .progress-content-four,.progress-content-five,.progress-content-six,.progress-content-seven,.progress-content-eight{
    
    background-color: #002651;
    background: linear-gradient(to right, rgb(128, 128, 128), rgb(63, 173, 168));
    border-radius: 20px;
    height: 20px;
    color: white;
    text-align: center;
    font-size: 13px;
    padding-top: 3px;
    transition: all 2s ease;
}
.progress-content-four{
    width: 0;
    opacity: 0;
    transition: all 2s ease;
}
.progress-five .progress-content-five{ 
    width: 0;
    opacity: 0;
    transition: all 2s ease;
}
.progress-content-six{ 
    width: 0;
    opacity: 0;
    transition: all 2s ease;
}
.progress-content-seven{
    width: 0;
    opacity: 0;
    transition: all 2s ease;
}
.progress-content-eight{ 
    width: 0;
    opacity: 0;
    transition: all 2s ease;

}
.progress-eight{
    margin-bottom: 25px;
}
.progress-four{
    width: 100%;
    height: 20px;
    border-radius: 20px;
    background-color: #e8e8e8;
    /* margin-bottom: 25px; */
}
.progress-four .progress-content-four.python{
    width: 30%;
    background-color: #002651;
    background: linear-gradient(to right, rgb(128, 128, 128), rgb(63, 173, 168));
    border-radius: 20px;
    height: 20px;
    color: white;
    text-align: center;
    font-size: 13px;
    padding-top: 3px;
}
.language{
    width: 95%;
    margin: auto;
}
.language .language-title{
    text-transform: capitalize;
    font-size: 25px;
    color: #757575;
}
.language .language-title i{
    padding: 10px 10px 0 0;
    font-size: 30px;
}
.language p{
    text-transform: capitalize;
    color: #757575;
    padding: 10px 0 10px;
}
.progress-lang-one{
    width: 100%;
    height: 20px;
    border-radius: 20px;
    background-color: #e8e8e8;
}
.progress-lang-content-one{
    width: 0;
    opacity: 0;
    background-color: #002651;
    background: linear-gradient(to right, rgb(128, 128, 128), rgb(63, 173, 168));
    border-radius: 20px;
    height: 20px;
    color: white;
    text-align: center;
    font-size: 13px;
    transition: all 2s ease;
}
.progress-lang-two{
    width: 100%;
    height: 20px;
    border-radius: 20px;
    background-color: #e8e8e8;
}
.progress-lang-content-two{
    width: 0;
    opacity: 0;
    background-color: #002651;
    background: linear-gradient(to right, rgb(128, 128, 128), rgb(63, 173, 168));
    border-radius: 20px;
    height: 20px;
    color: white;
    text-align: center;
    font-size: 13px;
    transition: all 2s ease;
}
.progress-lang-three{
    width: 100%;
    height: 20px;
    border-radius: 20px;
    background-color: #e8e8e8;
    margin-bottom: 25px;
}
.progress-lang-content-three{
    width: 0;
    opacity: 0;
    background-color: #002651;
    background: linear-gradient(to right, rgb(128, 128, 128), rgb(63, 173, 168));
    border-radius: 20px;
    height: 20px;
    color: white;
    text-align: center;
    font-size: 13px;
    transition: all 2s ease;
}
.information-two{
    width: 100%;
    display: flex;
    flex-direction:column;
    padding: 0 20px;
}
.row-one{
    flex-grow: 1;
}
.work{
    width: 100%;
    background-color: #fff;
    box-shadow: 1px 1px 10px 1px rgba(0,0,0,0.5);
}
.work .work-title{
    font-size: 30px;
    font-family: sans-serif;
    text-transform: capitalize;
    color: #757575;
    padding: 20px 0 20px 0;
}
.work .work-title i{
    padding: 10px 20px 0 20px;
    font-size: 35px;
}
.work-info{
    width: 90%;
    margin: auto;
}
.work-content-title{
    padding: 20px 0 0 0;
    color: #757575;
    text-transform: capitalize;
}
.work-content-date{
    padding: 10px 0 0 0;
    color: #002651;
    color: #009688;
    text-transform: capitalize;
    font-size: 18px;
}
.work-content-date i{
    font-size: 20px;
    padding: 0 20px 0 0;
}
.work-content-desc{
    padding: 20px 0 50px 0;
    border-bottom: 1px solid #e8e8e8;
}
.work-content-desc.p{
    border-bottom: none;
}
.row-two{
    background-color: #fff;
    margin-bottom: 200px;
    flex-grow: 1;
    box-shadow: 1px 1px 10px 1px rgba(0,0,0,0.5);
}
.education .education-title{
    font-size: 30px;
    font-family: sans-serif;
    text-transform: capitalize;
    color: #757575;
    padding: 20px 0 20px 0;
}
.education .education-title i{
    padding: 10px 20px 0 20px;
    font-size: 35px;
}
.education-info{
    width: 90%;
    margin: auto;
}
.education-content-title{
    padding: 20px 0 0 0;
    color: #757575;
    text-transform: capitalize;
}
.education-content-date{
    padding: 10px 0 0 0;
    color: #002651;
    color: #009688;
    text-transform: capitalize;
    font-size: 18px;
}
.education-content-date i{
    font-size: 20px;
    padding: 0 20px 0 0;
}
.education-content-desc{
    padding: 20px 0 30px 0;
    border-bottom: 1px solid #e8e8e8;
    text-transform: capitalize;
}
.education-content-desc.p{
    border-bottom: none;
}
footer{
    width: 100%;
    height: 130px;
    position: -webkit-sticky;
    background-color: #002651;
    background: linear-gradient(to right, rgb(128, 128, 128), rgb(63, 173, 168));
    text-align: center;
}
footer h4{
    color: white;
    font-size: 25px;
    text-transform: capitalize;
    text-transform: uppercase;
    padding:20px 0 10px 0 ;
}
footer i{
    font-size: 30px;
    cursor: pointer;
    color: white;
    padding: 5px;
}
.fa-facebook-square:hover {
    color: #3b5998;
}
.fa-twitter:hover {
    color: #1da1f2;
}
.fa-instagram:hover {
    color: #c32aa3;
}
.fa-github:hover {
    color: #000;
}



@media screen and (min-width:768px) and (max-width: 1023px) {
    .row-two{
        background-color: #fff;
        margin-top: 25px;
        flex-grow: 1;
        box-shadow: 1px 1px 10px 1px rgba(0,0,0,0.5);
    }
    .information-one .img img{
        width: 100%;
        box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.281);
    }
}
@media screen and (max-width: 767px) {
    *{
        overflow-x: hidden;
    }
    .information-one .img img{
        width: 100%;
        box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.281);
    }
    .main{
        width: 95%;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        margin: 10px auto
    }
    .information-one{
        width: 100%;
        height: 100%;
        margin-bottom: 40px;
    }
    .information-two{
        width: 100%;
        padding: 0 0;
        margin-bottom: 0px;
    }
    .row-two{
        margin-top: 40px;
        margin-bottom: 10px;
    }
}
@media screen and (max-width: 335px) {
    .work .work-title{
        font-size: 25px;
    }
    .information-one .img img{
        width: 100%;
        box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.281);
    }
}