@import url("./main.css");
@import url("./about-us.css");
@import url("./service.css");
@import url("./contact.css");

@media screen and (max-width: 1024px){
    .container {
        width: 90%;
    }
    nav.open-close {
        display: block;
    }
    nav {
        background-image: url("../images/pricing-bg.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        display: none;
        position: absolute;
        content: " ";
        top: 20%;
        left: 0%;
        width: 100%;
        z-index: 9999;
    }
    nav ul {
        margin: auto;
    }
    nav ul li {
        display: block;
        margin-top: 10px;
        padding: 20px;
        width:100%;
        text-align: start;
        border-bottom: 1px solid #eee;
    }
    nav ul li a {
        font-size: 1rem;
    }
    #burger , #close {
        display: block;
        cursor: pointer;
    }
    #burger i {
        padding: 15px;
        font-size: 2rem;
        background-color: #fff;
        color: #00bcd4;
        margin: 0 -50px;
    }
    #close {
        width: 95%;
        margin: auto;
        text-align: end;
    }
    #close i {
        color: white;
        padding: 10px;
        font-size: 2.5rem;
    }
    .logo {
        margin-top: 10px;
    }
    .logo p a{
        font-size: 2rem;
    }
    .logo p a span{
        font-size: 1rem;
    }
    .banner {
        width: 100%;
        margin: auto;
        text-align: center;
        margin-top: 100px;
    }
    .trusted-section .trusted-img {
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: 50px;
    }
    .trusted-section .trusted-img img {
        margin: auto;
        /* margin-bottom: 50px; */
    }
    .service-items{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: 30px;
    }
    .service-item {
        padding: 50px 10px 60px 10px;
    }
    .pricing-items {
        position: relative;
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: 30px;
    }
    .feature {
        width: 100%;
        height: auto;
        padding: 150px 0;
    } 
    .footer-item-2 {
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: 30px;
        margin: auto;
        width: 100%;
    }
    .footer-item-left {
        display: block;
    }
    .footer-item-1 {
        display: none;
    }
    .about-content {
        display: grid;
        grid-template-columns: repeat(1,1fr);
        gap: 50px;
    }
    .about-items img {
        width: 100%;
    }
    .our-team-content{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: 30px;
    }
    .our-team-items img {
        width: 100%;
    }
    .form-content {
        display: grid;
        grid-template-columns: repeat(1,1fr);
        gap: 30px;
    }
}
@media screen and (max-width: 767px) {
    .trusted-section .trusted-img {
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: 30px;
    }
    .service-items{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        gap: 30px;
    }
    .pricing-items {
        position: relative;
        display: grid;
        grid-template-columns: repeat(1,1fr);
        gap: 30px;
    }
    .feature .feature-content {
        display: grid;
        grid-template-columns: repeat(1,1fr);
        gap: 30px;
        margin-top: 50px;
    }
    footer .copyrigt p {
        font-size: 14px;
    }
    .banner input[type="text"] {
        width: 50%;
    }
    .banner form ul {
        margin: auto;
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: 20px;
    }
}
@media screen and (max-width: 480px) {
    #burger i {
        padding: 10px;
        font-size: 1.5rem;
        background-color: #fff;
        color: #00bcd4;
        margin: 0 -50px;
    }
    .banner .title {
        font-size: 1.5rem;
    }
    .trusted-section .trusted-img {
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: 30px;
    }
    .trusted-section .trusted-img img {
        width: 100%;
        margin: 0;
    }
    .testimonial-quetion {
        font-size: 1.5rem;
    }
    .testimonial-item {
        width: 100%;
       padding: 10px;
    }
    .footer-item-2 {
        display: grid;
        grid-template-columns: repeat(1,1fr);
        gap: 30px;
        margin: auto;
        width: 100%;
    }
    .scrollUp {
        padding: 10px;
        font-size: 1.5rem;
    }
    .about-body-header a{
        font-size: .8rem;
    }
    .about-body p{
        font-size: 1rem;
    }
    footer .copyrigt p {
        font-size: 12px;
    }
    .form .form-content {
        display: grid;
        grid-template-columns: repeat(1,1fr);
        gap: 1px;
    }
    .form-items .form-body .form-body-list {
        display: grid;
        grid-template-columns: repeat(1,1fr);
        gap: 5px;
    }
    .form-body-list-right ul li i, .form-body-list-left ul li i{
        font-size: 1.5rem;
    }
    .form-body-list-right ul li, .form-body-list-left ul li{
        font-size: 1rem;
    }
    .form-items.order-0 {
        order: 0;
    }
    .form-items.order-1 {
        margin-top: 50px;
        order: 1;
    }
    .our-team-content{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        gap: 20px;
    }
    .our-team-head p {
        padding: 0 0px;
    }
    
    
}
@media screen and (max-width: 320px){
    .about-body p{
        font-size: .8rem;
    }
    .about-body-header a{
        font-size: .6rem;
    }
    footer .copyrigt p {
        font-size: .6rem;
    }
}