
.roww .column1{width: 24%;display: inline-block;padding: 0px 10px;flex-wrap: wrap;margin-right: 10px;}
.roww .column2{width: 24%;display: inline-block;padding: 0px 10px;flex-wrap: wrap;}
.roww .column3{width: 24%;display: inline-block;padding: 0px 10px;flex-wrap: wrap;}
.roww .column4{width: 24%;display: inline-block;padding: 0px 10px;flex-wrap: wrap;}
.roww .column5{width: 24%;display: inline-block;padding: 0px 10px;flex-wrap: wrap;}
.column1{margin-top: 2%;}
.column2{margin-top: 2%;}
.column3{margin-top: 2%;}
.column4{margin-top: 2%;}
.column5{margin-top: 2%;}
.card1{ box-shadow: 0 4px 8px rgba(0, 0, 0, 0.548);max-width: 310px;margin: auto;background-color: white;border-radius:15px;padding-bottom: 15px;text-align: center;margin-top: 7%;}
.card2{box-shadow: 0 4px 8px rgba(0, 0, 0, 0.548);max-width: 310px;margin: auto;background-color: white;border-radius:15px;padding-bottom: 15px;text-align: center;margin-top: 7%;}
.card3{box-shadow: 0 4px 8px rgba(0, 0, 0, 0.548);max-width: 310px;margin: auto;background-color: white;border-radius:15px;padding-bottom: 15px;text-align: center;margin-top: 7%;}
.card4{box-shadow: 0 4px 8px rgba(0, 0, 0, 0.548);max-width: 310px;margin: auto;background-color: white;border-radius:15px;padding-bottom: 15px;text-align: center;margin-top: 7%;}
.card4{box-shadow: 0 4px 8px rgba(0, 0, 0, 0.548);max-width: 310px;margin: auto;background-color: white;border-radius:15px;padding-bottom: 15px;text-align: center;margin-top: 7%;}
.card5{box-shadow: 0 4px 8px rgba(0, 0, 0, 0.548);max-width: 310px;margin: auto;background-color: white;border-radius:15px;padding-bottom: 15px;text-align: center;margin-top: 7%;}
.card1 button{border: none;padding: 8px;display: inline-block;color: white;background-color: black;cursor: pointer;width: 70px;border-radius: 18px;text-align: center; }
.card2 button{border: none;padding: 8px;display: inline-block;color: white;background-color: black;cursor: pointer;width: 70px;border-radius: 18px;text-align: center;}
.card3 button{border: none;padding: 8px;display: inline-block;color: white;background-color: black;cursor: pointer;width: 70px;border-radius: 18px;text-align: center;}
.card4 button{border: none;padding: 8px;display: inline-block;color: white;background-color: black;cursor: pointer;width: 70px;border-radius: 18px;text-align: center;}
.card5 button{border: none;padding: 8px;display: inline-block;color: white;background-color: black;cursor: pointer;width: 70px;border-radius: 18px;text-align: center;}
.card1 .title{color: rgb(41, 38, 38);font-size: 18px;}
.card2 .title{color: rgb(41, 38, 38);font-size: 18px;}
.card3 .title{color: rgb(41, 38, 38);font-size: 18px;}
.card4 .title{color: rgb(41, 38, 38);font-size: 18px;}
.card5 .title{color: rgb(41, 38, 38);font-size: 18px;}
.card1 p{text-align: center;font-size: 15px;color: gray;color: rgba(255, 0, 0, 0.781);padding: 2px 20px;}
.card2 p{text-align: center;font-size: 15px;color: gray;color: rgba(255, 0, 0, 0.781);padding: 2px 20px;}
.card3 p{text-align: center;font-size: 15px;color: gray;color: rgba(255, 0, 0, 0.781);padding: 2px 20px;}
.card4 p{text-align: center;font-size: 15px;color: gray;color: rgba(255, 0, 0, 0.781);padding: 2px 20px;}
.card5 p{text-align: center;font-size: 15px;color: gray;color: rgba(255, 0, 0, 0.781);padding: 2px 20px;}
.card1 h1{text-align: center;color: black;}
.card2 h1{text-align: center;color: black;}
.card3 h1{text-align: center;color: black;}
.card4 h1{text-align: center;color: black;}
.card5 h1{text-align: center;color: black;}
.card1 a{text-decoration: none;font-size: 22px;color: black;padding: 3px;}
.card2 a{text-decoration: none;font-size: 22px;color: black;padding: 3px;}
.card3 a{text-decoration: none;font-size: 22px;color: black;padding: 3px;}
.card4 a{text-decoration: none;font-size: 22px;color: black;padding: 3px;}
.card5 a{text-decoration: none;font-size: 22px;color: black;padding: 3px;}
.card1 a{text-align: center;}
.card2 a{text-align: center;}
.card3 a{text-align: center;}
.card4 a{text-align: center;}
.card5 a{text-align: center;}
.card1 img{text-align: center;border-radius: 50%;}
.card2 img{text-align: center;border-radius: 50%;}
.card3 img{text-align: center;border-radius: 50%;}
.card4 img{text-align: center;border-radius: 50%;}
.card5 img{text-align: center;border-radius: 50%;}
.card1 a:hover,button:hover{opacity: 0.6;}
.card2 a:hover,button:hover{opacity: 0.6;}
.card3 a:hover,button:hover{opacity: 0.6;}
.card4 a:hover,button:hover{opacity: 0.6;}
.card5 a:hover,button:hover{opacity: 0.6;}

.roww::after{
    content: "";
    display: table;
    clear: both;
}
.roww{margin:0;flex-wrap: wrap; margin-right: 0px;}
.roww h1{
    text-align: center;
    margin-top:3%;
}
.fa-facebook{
    background:rgb(255, 255, 255);
  
 } 
.fa-twitter{ 
    background: rgb(255, 255, 255);
    
} 
.fa-instagram{
    background:#ffffff;
}
.mngmnts{display: none;}
/**/
.managments{
    
    height:700px;
}
.managments{
    margin-top: 20%;
    
}
.managments h1 {
    text-align: center;
}
.managments .columnn{
  
    margin-right: 50px;
    margin-top: 1rem;
  
   
}
.columnn{
    width: 28%;
    float: right;
    padding: 0px 10px;
}
.cards{
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.719);
    max-width: 300px;
    margin: auto;
    background-color: white;
    border-radius: 40px;
    padding-bottom: 15px;
    text-align: center;
    margin-top: 7%;
}
.cards p button{
    border: none;
    padding: 8px;
    display: inline-block;
    color: white;
    background-color: black;
    cursor: pointer;
    width: 70px;
    border-radius: 18px;
    text-align: center;
}
.cards .title{
    color: rgb(41, 38, 38);
    font-size: 18px;
}
.cards p{
    text-align: center;
    font-size: 15px;
    color: gray;
    color: rgba(255, 0, 0, 0.781);
    padding: 2px 20px;
}
.cards h1{
    text-align: center;
    color: black;
}

.cards a{
    text-decoration: none;
    font-size: 22px;
    color: black;
    padding: 3px;
    
}
.cards img{
    text-align: center;
    border-radius: 50%;
}
.cards a{
    text-align: center;
}
.cards a:hover,button:hover{
    opacity: 0.6;
}
/**/


/**/
.row .columm{
    width: 27%;
    float: right;
    padding: 0px 20px;
    margin-right: 66px;
    margin-top: 11%;
   
}
.row::after{
    content: "";
    display: table;
    clear: both;
}
.row h1{
    text-align: center;
    margin-top:5%;
}
@media screen and(max-width:600px)
{
    .cardd .columm{
        width: 100%;
        display: block;
        margin-bottom: 20px;
    }
}
.cardd{
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.719);
    max-width: 300px;
    margin: auto;
    background-color: white;
    border-radius: 40px;
    padding-bottom: 15px;
    text-align: center;
    margin-top: 9%;
}
.cardd .title{
    color: rgb(41, 38, 38);
    font-size: 18px;
}
.cardd button{
    border: none;
    padding: 8px;
    display: inline-block;
    color: white;
    background-color: black;
    cursor: pointer;
    width: 70px;
    border-radius: 18px;
    text-align: center;
}
.cardd p{
    text-align: center;
    font-size: 15px;
    color: gray;
    color: rgba(255, 0, 0, 0.781);
    padding: 2px 20px;
}
.cardd h1{
    text-align: center;
    color: black;
}

.cardd a{
    text-decoration: none;
    font-size: 22px;
    color: black;
    padding: 3px;
    
}
.cardd img{
    text-align: center;
    border-radius: 50%;
}
.cardd a{
    text-align: center;
}
.cardd a:hover,button:hover{
    opacity: 0.6;
}
/**/
