/*
colors:
Blue: #253342
Red: #9e4040
Gray: #cccccc
Light-gray: #f2f4f4
background-color: rgb(122, 28, 64);
#394141 
*/


/*----------------------------------------------------------------------------Container-----------------------------------------------------------------------*/
body{
    background-color: whitesmoke;
    background-color: #24252a;
    background-color: #17181b;
    background-color: #141518;
    background-color: #091921;

    min-height:100%
}
#container{
    width: 100%;
    margin: 0 auto;
    height: auto;
    padding: 30px 20px;
    min-height: 100%;
   
}

h1 {
    font-size: 30px;
    color: rgb(228, 39, 39);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
a{
    text-decoration:none;
    color: rgb(243, 243, 243);
    font-size: 18px;
    font-weight: bold;

}
p{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bolder;  
    font-size: 100px;
}
#top{
    background-image:linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url("./imgs/lines-of-code.jpg");
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    min-height: 650px;

   
}

#down{
    /*background-image: linear-gradient(rgba(0, 0, 0, 0.39), rgba(0, 0, 0, 0.438)),url("./imgs/python1.jpg");*/
    background-image:linear-gradient(rgba(0, 0, 0, 0.712), rgba(0, 0, 0, 0.719)), url("./imgs/lines-of-code-2653362.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 550px;
    background-attachment: fixed;
}
#down h1{
    color:rgb(197, 154, 35);
    text-align: center;
    padding: 170px;
    background-attachment: fixed;
    font-size: 60px;
}


/*------------------Menu--------------------*/
#menu{
    height: 115px;
    width: 100%;
    background-color: rgb(114, 10, 50);
    background-color: #17181b;
    background-color: #2a2b2f;

    display: flex;
    justify-content: space-between;
    /*text-align: center;*/
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    padding: 0;
}
.cnt1{
    margin-left: 40px;
    margin-top: 1.9%;
    /*padding: 30px 3%;*/
}
.cnt1 button{
    border: none;
    padding: 9px;
    display: inline-block;
    color: white;
    background-color: black;
    background-color: rgb(0, 136, 169, 1);
    cursor: pointer;
    width: 100px;
    border-radius: 15px;
    text-align: center;
}
.cnt2{
    margin-left: 0px;
    margin-top: 1.9%;
    /*padding: 30px 3%;*/
}
.cnt2 button{
    border: none;
    padding: 9px;
    display: inline-block;
    color: white;
    background-color: black;
    background-color: rgb(0, 136, 169, 1);
    cursor: pointer;
    width: 100%;
    border-radius: 15px;
    text-align: center;
}

#menu ul::after{
    content: "";
    display: block;
    clear: both;
}
.logo{
    float: right;
    width: 150px;
    height: auto;
    background-color: rgba(240, 128, 128, 0);
    margin-right: 20px;
}
.logo img{
    margin-top: 5%;
    border: 1px solid black;
    border-radius: 20px;
    width: 92px;
    height: 95px;
    margin-top: 10px;
    border-radius: 10px;
}
.logo_footer img{
    margin-right: 710px;
    height: auto;
    margin-top: 15px;
}

/*#logo{
    float: left;
    line-height: 60px;
    padding-left: 20px;
    margin-top: 15px;
}*/
.menu-all{
    margin-left: 10px;
   
   
}
#menu .menu-all{
    margin-left: 100px;
}
.menu-all .menu-item{
    float: right;
    list-style-type: none;
    line-height: 93px;
    padding: 10px;
    
   
}
.menu-all .menu-item a:hover{
    /* border-bottom: 2px solid #f6e600;  */
    border-right: 2px solid #f6e600;  
    padding-right: 5px;
    border-radius: 2px;
}

.menu-all .menu-item a {
    margin-left:30px;
    font-size: 15px;
    font-weight: bolder;
    
   

}
.menu-all .menu-item a:hover{
    /*background-color:#9e4040;*/
    color: yellow;
   
}
/*--------x----------Menu-----------x---------*/

/*-------------------About--------------------*/
#about{
    background-color:whitesmoke;
    background-color: #24252a;
    background-color: #17181b;
    background-color: #141518;
    background-color: #091921;
    height: 400px;
    text-align: center;
    /*width: 90%;*/
    margin: 0 auto;
    margin-top:3%;
}
#about h2{
    font-size: 20px;
    color: rgb(250, 250, 250);
    
    
}
.about-p1{
    line-height: 1.9;
    font-weight: bold;
    padding: 0px;
    height: auto;
}

.about-p1 p{
    font-size: 15px;
    margin-top: 2%;
    color: whitesmoke;
}
.about-p2{
    line-height: 1.9;
    font-size: 15px;
    font-weight: bold;
   
    padding: 10px;
    margin-top: 2%;
    height: auto;
}
.about-p2 p{
    font-size: 17px;
    color: whitesmoke;
}
#about .about-p2 h1{
    color: red;
    text-align: center;
    font-weight: bolder;
    font-size: 18px;

}
#about .about-p2 mark{
    background-color: wheat;
    color: red;
}
#about .news mark{
    background-color: rgb(219, 150, 22);
}
.about-p3{
    padding-top: 30px;
    line-height: 1.9;
    font-size: 17px;
    font-weight: bold;
   
}

.news{
    margin-top: 1%;
    background-color:whitesmoke;
    background-color: #24252a;
    background-color: #17181b;
    background-color: #141518;
    background-color: #091921;
    padding: 10px;
    margin: 10px;
    height:auto;
  
   
}
.news p{
    font-size: 15px;
    margin-top: 2%;
    

    color: whitesmoke;
}
.news h1{
    margin-top: 0px;
    font-size: 18px;
}
#about-img{
    background-image: url("./imgs/close-up-of-computer-keyboard-248515.jpg");
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
}
#about2-img{
    background-image: url("./imgs/white-walls-1764702.jpg");
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
}#programming{
   
    margin-top: 6%;
    background-color: rgb(241, 237, 237);
    background-color: #24252a;
    background-color: #17181b;
    background-color: rgba(131, 128, 128, 0.11);
    background-color: #091921;

}
#programming h1{
    text-align: center;
}
#languages  mark{
    background-color: rgb(219, 150, 22);
}
#about #languages p{font-size: 15px;}
#about #languages .language-content p{font-size: 15px;}

#programming .programming-subjects{
    margin-top: 1%;
    text-align: center;
    
}
.programming-images img{
    width: 220px;
}
/*------------------------------------------------------------------------------------------------------------------------------------------------*/
/* .gride-footer{
    grid-template-columns: 100px 100px 100px;
    grid-template-rows: 100px 100px 100px;
    grid-gap: 5px;
    background-color:whitesmoke;
    background-color: #24252a;
    background-color: #17181b;
    background-color: #141518;
    background-color: #091921;
    /*border: 1px solid rgb(255, 255, 255);*/
    /* margin-top: 2%;
    display: inline-flex;
    padding: 20px;
    text-align: center;
} */ 
.gride-footer1{display: inline-block;border: 1px solid white;margin: 10px; margin-top: 2rem;border-radius: 15px;}
.gride-footer2{display: inline-block;border: 1px solid white;margin: 10px;margin-top: 2rem;border-radius: 15px;}
.gride-footer3{display: inline-block;border: 1px solid white;margin: 10px;margin-top: 2rem;border-radius: 15px;}
.gride-footer4{display: inline-block;border: 1px solid white;margin: 10px;margin-top: 2rem;border-radius: 15px;}
.grid-footer-content1{padding: 15px;}
.grid-footer-content2{padding: 15px;}
.grid-footer-content3{padding: 15px;}
.grid-footer-content4{padding: 15px;}
.h1{
    text-align: center;
    margin-top: 3%;
}
.h1 h2{
    color: white;
}
button{
    border: none;
    padding: 10px;
    justify-content: space-between;
}
.h1 .gride-footer1 .grid-footer-content1 img{width: 110px; height: 130px;}
.h1 .gride-footer2 .grid-footer-content2 img{width: 110px; height: 130px;}
.h1 .gride-footer3 .grid-footer-content3 img{width: 110px; height: 130px;}
.h1 .gride-footer4 .grid-footer-content4 img{width: 110px; height: 130px;}
.gride-footer button button {
    border: none;
    padding: 10px;
    justify-content: space-between;

}
.gride-footer h2{
    color: white;
}

/*----------x---------About----------x----------*/

/*-------------------Button---------------------*/
#button{
    width: 150px;
    height: 80px;
    margin: 20px;
    margin-top: 90px;
    border-radius: 30px;
    background-color:#253342 ;
    font-size: 120%;
    box-shadow: 0 5px #999;
    border: none;
    cursor: pointer;
    transition-duration: 0.08s;

}
#button a{
    color: #ffffff;
    font-size: 20px;

}
#button:active{
    box-shadow: 0px 0px #666;
    transform:translateY(5px);

}
#button2{
    width: 230px;
    height: 90px;
    margin: 20px;
    text-align: center;
    border-radius: 30px;
    background-color:rgb(219, 150, 22) ;
    color: rgb(0, 0, 0);
    font-size: 20px;
    font-weight: bold;
    box-shadow: 0 5px #999;
    border: none;
    cursor: pointer;
    transition-duration: 0.08s;
    margin-top: 80px;
    margin-bottom: 20px;
    margin-left: 500px;
    margin-right: 725px;
}
#button2:active{
    box-shadow: 0px 0px #666;
    transform:translateY(5px);

}
#button2 a{
    color: black;
    font-size: 21px;
}

.programming-images{
    text-align: center;
    margin-top: 2%;
    
}
.programming-images img{
    padding: 1px;
    border-radius: 15px;
   
}
.grid{
    grid-template-columns: 100px auto 100px;
    grid-template-rows: 50px 50px;
    grid-gap: 5px;
    background-color:whitesmoke;
    background-color: #24252a;
    background-color: #17181b;
    background-color: #141518;
    margin-top: 2%;
    min-height: 300px;
   
}
.grid div{
    background-color: rgb(66, 70, 57);
    border: 1px solid black;
    text-align: center;
    margin: 20px;
}
.grid h1{
    color: rgb(255, 255, 255);
    text-align: center;
}
.grid .grid-content1 h3{
    color: rgb(248, 248, 248);
    font-weight: 800;
    font-size: 22px;
}
.grid .grid-content2 h3{
    color: rgb(248, 248, 248);
    font-weight: 800;
    font-size: 22px;
}.grid .grid-content3 h3{
    color: rgb(248, 248, 248);
    font-weight: 800;
    font-size: 22px;
}.grid .grid-content4 h3{
    color: rgb(248, 248, 248);
    font-weight: 800;
    font-size: 22px;
}
.language-content img{
    margin-top: 1%;
}
.language-content h1{
    color: darkred;
}
.grid-content1 .grid-buttom{
   border:none;
   padding:10px;
}
.grid .grid-content1{
    background: linear-gradient(45deg, #313558 52%, rgb(194, 155, 50)  50%);
}
.grid .grid-content1 .grid-buttom{
    background-color: #313558 ;
    /*background: linear-gradient(45deg, #313558  41%,  rgb(194, 155, 50)  20%);*/
    background: linear-gradient(45deg, #313558 41%, rgb(194, 155, 50)  20%);

}
.grid-content2 .grid-buttom{
    border:none;
    padding: 10px;
}
.grid .grid-content2{
    background-color:#394141;
}
.grid .grid-content2 .grid-buttom{
    background-color: #394141 ;
    
}
.grid-content3 .grid-buttom{
    border:none;
    padding: 10px;
}
.grid .grid-content3{
    background-color: #394141 ;
}
.grid .grid-content3 .grid-buttom{
    background-color: #394141 ;
    
}
.grid-content4 .grid-buttom{
    border:none;
    padding: 10px;
}
.grid .grid-content4{
    background-color: #394141 ;
}
.grid .grid-content4 .grid-buttom{
    background-color: #394141 ;
    
}


button{
    border: none;
    padding: 9px;
    display: inline-block;
    color: white;
    background-color: rgb(5, 124, 145);
    cursor: pointer;
    width: 100px;
    border-radius: 15px;
    text-align: center;
    margin: 5px;
}
.grid-buttom a:hover{
    color: rgb(251, 255, 0);
}
/*-----------x--------Button----------x-----------*/

/*--------------------------------Managements---------------------------------*/
.managements{
    background-color: #394141;
    background-color: rgb(221, 215, 215);
    /*background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.459)), url("./imgs/aerial-photo-of-woman-lying-on-inflatable-floater-in-the-2876593.jpg");*/
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    color: white;
    border-radius: 30px;
    margin-right: 60px;
    margin-left: 60px;
    margin-top:73%;
    
}
.managements h1{
    color: rgb(0, 0, 0);
}
.managements h2{
    
    font-size: 30px;
    
    
}
.managments-footer p{
    color: rgb(2, 2, 2);
    font-weight: 700;
    font-size: 20px;
}
#row4{
    height: 630px;
    width: 100%;
    margin: 0 auto;
}
#colm4{
    width: 25%;
    float: right;
    margin-right: 108px;
    margin-top: 2%;
    border-radius: 18px;
    /*border: 2px solid rgba(0, 0, 0, 0.534);*/
    font-size: 20px;
    padding: 5px;
    margin-top: 4%;
   
}
#colm4 img{
    border: 6px #f2f4f4 solid;
    border-radius: 15px;
    box-shadow: 0px 5px 15px black;
    width: 100%;
    max-width: 235px;
    height: 240px;
    width: 290px;
    margin-top: 10px;
}
#colm5{
    width: 23%;
    float: right;
    margin-right: 108px;
    border-radius: 1px;
    /*border: 2px solid rgba(0, 0, 0, 0.746);*/
    font-size: 15px;
    padding: 3px;
    margin-top: 13%;
}
.managments-header p{
    font-size: 20px;
    font-weight: bold;
  
}
#colm5 img{
    border: 6px #f2f4f4 solid;
    border-radius: 15px;
    box-shadow: 0px 5px 15px black;
    width: 100%;
    max-width: 235px;
    height: 235px;
    width: 290px;
    margin-top: 30px;
}
.managments-header h1 {
    font-size: 20px;
    font-weight: bold;
}

/*--------------x-----------------Managements------------------x----------------*/


/*-----------------------Teachers------------------------------*/
#Teachers{
    background-color: rgb(187, 174, 174);
    /*background-image:linear-gradient(rgba(0, 0, 0, 0.555), rgba(0, 0, 0, 0.589)), url("./imgs/top-view-of-fern-leaves-3473569.jpg");*/
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
   
    text-align: center;
    color: white;
    margin-top: 7%;
    min-height: 800px;
    box-shadow: yellow;
  
 
}
#row-teacher{
    height: 100%;
    width: 100%;
    margin: 0 auto;

}
.colom{
    width: 21%;
    float: right;
    padding: 20px;
    margin-right: 50px;
    margin-top: 1%;
    border-radius: 18px;
    /*border: 2px solid rgba(0, 0, 0, 0.534);*/
    font-size: 20px;   
}
.colom h1{
    font-size: 20px;
    font-weight: bold;
}

.colom img {
    border: 6px #383737 solid;
    border-radius: 15px;
    box-shadow: 0px 5px 15px black;
    width: 100%;
    max-width: 235px;
    height: 250px;
    width: 500px;
    margin-top: 10px;

}
.colom1{
    width: 25%;
    padding: 20px;
    margin-right: 600px;
    border-radius: 18px;
   /* border: 2px solid rgba(0, 0, 0, 0.534);*/
    font-size: 20px;
    
}
.colom1 h1{
    font-size: 20px;
    font-weight: bold;
}
.colom1 img{
    border: 6px #666 solid;
    border-radius: 15px;
    box-shadow: 0px 5px 15px black;
    max-width: 235px;
    height: 230px;
    width: 280px;
    margin-top: 2%;
}

#Teachers h1 {
    color:rgb(0, 0, 0);
}
.teacher-footer p{
    font-size: 20px;
    font-weight: bold;
    color:rgb(0, 0, 0);
  
}
#colm img{
    border: 4px #666 solid;
    border-radius: 15px;
    box-shadow: 0px 5px 15px black;
    width: 100%;
    max-width: 235px;
    height: 230px;
    width: 280px;
    margin-top: 10px;
    padding: 20;
}
.teachers-header h1 {
    font-size: 20px;
    font-weight: bold;
}
/*----------x-------------Teachers------------------x------------*/

/*----------------List-----------------*/
.list{
    text-align: center;
    background-color:  #cbdada;
    background-color: #212122;
    border: 5px rgba(124, 102, 28, 0.52) solid;
    border-radius: 15px;
    box-shadow: 0px 5px 15px rgba(79, 153, 9, 0.568);
    color: rgb(0, 0, 0);
    border-radius: 30px;
    text-align: center;
    margin-top: 4%;
    height: 300px;
}
.list h1{
    font-size: 25px;
    margin-top: 1%;
}
/*-------x---------List-----------x------*/


/*-------------------------Students--------------------------------*/
#box-list{
    margin-top: 8%;
    
   
}
#box-list h2{
    text-align: center;
    margin-bottom: 2%;
    font-size: 16px;

}
.box{
    display: block;
    float: right;
    width: 20%;
    padding: 10px;
    background-color: #253342;
    background-color: #091921;
    height: 270px;
   
   
}
.box h1{
    font-size: 16px;
}

.box img{
    width: 100%;
    border: 6px #f2f4f4 solid;
    border-radius: 10%;
    box-shadow: 0px 5px 15px rgb(31, 30, 30);
    max-width: 235px;
    height: 190px;
    width: 160px;
    margin-top: 20px;
    margin-right: 30px;
}
/* .box img:hover{
    transform: scale(1.5,1.5);
    transition: 1s transform;
} */
#student{
    margin-top:10%;
    background-color:  #253342;
    text-align: center;
    border-radius: 30px;
    margin-left: 25px;
    margin-right: 25px;
}
.row2{
    height: 1700px;
    width: 100%;
    margin: 0 auto;
    padding: 3%;
    margin-right: 30px;
}
#colm2 {
    width: 20%;
    float: right;
    margin-right:70px;
    border-radius: 15px;
    /*border: 2px solid rgba(214, 44, 44, 0.637);*/
    font-size: 90px;
    padding: 5px;
    margin: 15px 30px;
    
}
#colm2 img{
    border: 6px #f2f4f4 solid;
    border-radius: 15px;
    box-shadow: 0px 5px 15px black;
    width: 100%;
    max-width: 235px;
    height: 250px;
    width: 600px;
    margin-top: 15px;
}
/*#colm3{
    width: 30%;
    float: right;
    margin-right: 514px;
    margin-top: 3%;
    border-radius: 15px;
    border: 2px solid rgb(0, 0, 0);
    font-size: 90px;
    padding: 15px;
}
#colm3 img{
    border: 6px #666 solid;
    border-radius: 15px;
    box-shadow: 0px 5px 15px black;
    width: 100%;
    max-width: 235px;
    height: 300px;
    width: 500px;
    margin-top: 15px;
}*/
.row-2 img{
    margin-top: 10%;
    
}
.students-header{
    color: black;
}
.students-header h1{
    text-align: center;
    color: wheat;
}
#student h1{
    color:rgb(235, 235, 235) ;
    font-weight: 900;
    font-size: 35px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
#student h2{
    color: rgb(255, 255, 255);
    font-size: 30px;
    padding: 15px;
 
}


/*---------------x----------Students-------------------x-------------*/




/*------------------------------------------------Contect ---------------------------------------------------------*/

#Contect{
    text-align: center;
    background-color: #9dd3c5af;
    height: 750px;
    margin-top: 7%;
    padding: 40px;
    margin: 0;
    height: 700px;
    border-radius: 50px;
    margin-left: 350px;
    margin-right: 350px;
    margin-top: 10%;
    margin-bottom: 30px;
}
#Contect h1{
    font-size: 30px;
    color: rgb(0, 0, 0);
    text-align: center;
    font-weight: bold;
}
.row-2{
    margin-top: 2%;
}
input[type="text"]{
    background-color: white;
    width: 88%;
    height: 60px;
    border: 1px solid #999;
    border-radius: 15px;
    margin: 5px 0;
    padding: 0 20px;
    font-size: 17px;
    font-weight: bold;
}
textarea{
    background-color: white;
    width: 88%;
   
    border: 1px solid #999;
    border-radius: 15px;
    margin: 5px 0;
    padding: 10px 20px;
    font-size: 17px;
    font-weight: bold;

}
/*input[type="email"]{
    background-color: white;
    width: 88%;
    height: 40px;
}*/
.col2{
    width: 50%;
    float: right;
    
}
#Map{
    width: 50%;
    margin-top: 1%;
    margin-right: 500px;
   
    
}
.map-h{
    color: rgb(255, 250, 250);
    text-align: center;
    margin-left: 150px;
    font-size: 30px;
    padding: 10px;
    
    
}
.submit{
    width: 190px;
    height: 50px;
    margin: 20px;
    border-radius: 30px;
    background-color:#253342;
    color: white;
    font-size: 120%;
    box-shadow: 0 5px #999;
    border: none;
    cursor: pointer;
    transition-duration: 0.08s;
}
.languages .language-content h2 h1 h2{
    color: red;

}
.language-content h2{
    color: black;
}
.languages.language-content img{
   text-align: center;
}

#languages p{
    font-size: 20px;
    padding: 10px;

}
.aroow .to-top{
    position: absolute;
    bottom: 20px;
    right: 20px;
    background-color: black;
    color: rgb(119, 116, 116);
    padding: 9px 12px;
    border-radius: 50px;
}

/*footer. List students*/
#footer #footer-bottom{
    background-color: #343a40;
    height: 47px;
    bottom: 0px;
    left: 0px;
    padding-top: 10px;
    width: 100%;
}
#footer #footer-bottom {
    font-size: 14px;
    color:  #dbd4d4;
    font-weight: unset;
    float: left;
    text-align: center;   
}
#footer{
    padding: 0px;
    margin: 0;
    height: 210px;
    background-color:rgb(93, 2, 37);
    background-color: #2a2b2f;
    /*border-radius: 50px;
    margin-left: 20px;
    margin-right: 20px;*/
    margin-top: 5%;
    
}

#footer{ 
    list-style-type:none;
    font-size: 20px;
   
} 
#footer p{
    color: white;
    font-weight: bold;
    text-align: center;
    font-size: 15px;
    
}
#footer p a{
    font-size: 15px;
}

.email a{
    font-size: 40px;
}

#footer a{
    font-size: 20px;
}
#footer p a:hover{
    color: #f6e600;
}
#footer h4{
    color: #fff;
    font-size: 20px;
   text-align: center;
    
}
.wsfooter-list a{
    color: red;

}

/*social icons .List of students*/
.social-icons{
    font-size: 0px;
   

}
.social-icons li {
    display: inline-block;
    
   
  
}
.social-icons li a { 
    padding:15px;
    margin: 10px;
    border-radius: 70px;
}
.social_icons a{
    color: black;
}
.col3{
  text-align: center;
    
}
.social-icons .fa-facebook{
    background:#3B5998;
  
 } 
.social-icons .fa-twitter{ 
    background: #55ACEE;
    
} 
.social-icons .fa-instagram{
    background:#833ab4;
}

form [for="name"]{
    color: rgb(7, 7, 7);
    font-weight: bold;
    font-size:24px;
    margin-left: 600px;
    margin-right: 25px;
}
form [for="email"]{
    color: rgb(8, 8, 8);
    font-size: 24px;
    font-weight: bold;
    margin-left: 500px;
    margin-right: 25px;
}
form [for="message"] {
    color: rgb(7, 7, 7);
    font-weight: bold;
    font-size:24px;
  
   
}
/*--------------------x-------------------Contect ------------------------------------x----------------*/



/*-------------------------------x---------------------------------------------Container-----------------------------------------x------------------------------*/