#languages{
    width: 100%;
    margin: 0 auto;
    height: auto;
    margin-bottom: 80px;
}
#languages p{
   
    font-size: 23px;
    margin-top: 2%;
 
    font-family: unset;
    font-family: 'Markazi Text', serif;
    font-family: 'Scheherazade', serif;
   
    color: whitesmoke;
    text-align:center;
}
#languages h1{
    color: rgb(0, 224, 224);
    color:rgb(194, 155, 50);


}
.language-content h1{
    margin-top: 2%;
}