@import url('https://fonts.googleapis.com/css2?family=Mogra&family=MuseoModerno:wght@900&family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');
html {
    height: 100%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100%;
}

nav {
    display: none;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgb(255, 255, 255);
    height: 70px;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.315);
    width: 100%;
    z-index: 10;
}

.logo {
    width: 50%;
    float: left;
}

.header .logo a {
    text-decoration: none;
    list-style: none;
}

.header .header-content .logo h3 {
    margin: 20px 40px;
    font-family: 'Mogra', cursive;
    font-size: 2.5em;
    text-decoration: none;
    font-weight: 600;
    color: #3751ff;
}

.header .header-content .logo h3 a {
    color: #3751ff;
}

.header .nav {
    list-style: none;
    text-align: center;
    width: 30%;
    float: right;
    height: 70px;
}

.header .nav li {
    display: inline-block;
    padding: 25px 10px;
    cursor: pointer;
}

.header .nav li a {
    text-decoration: none;
    text-transform: capitalize;
    color: black;
    font-size: 18px;
    font-family: sans-serif;
    text-transform: capitalize;
    opacity: 0.9999;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=99)";
}

.header .nav li a:after {
    content: " ";
    display: block;
    width: 0;
    height: 3px;
    background-image: -webkit-linear-gradient(45deg, #8f71ff, #b7fbff);
    background-image: linear-gradient(45deg, #8f71ff, #b7fbff);
    -webkit-transition: width 1.5s;
    transition: width 1.5s;
}

.header .nav li a:hover:after {
    width: 100%;
}

.container {
    width: 75%;
    margin: auto;
    height: auto;
    background-color: rgb(255, 255, 255);
    margin-top: 70px;
    -webkit-transition: all 2s;
    transition: all 2s;
}

.container .intro {
    padding-top: 110px;
    background-color: #fff;
    width: 100%;
    font-size: 65px;
    font-weight: bolder;
}

.container .intro p {
    margin: 0 0 20px 0;
    color: #3751ff;
    font-weight: bolder;
    font-family: sans-serif;
}

.intro-hello {
    font-size: 25px;
    opacity: 0.7;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
    text-transform: lowercase;
}

.intro-name {
    font-size: 70px;
    text-transform: uppercase;
}

.intro-skills {
    opacity: 0.8;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
    text-transform: lowercase;
    font-size: 70px;
}

.container .skills {
    background-color: #fff;
    height: 250px;
    margin-top: 40px;
}

.container .skills .Bio {
    font-size: 20px;
    font-family: sans-serif;
    word-spacing: 5px;
    text-transform: capitalize;
    line-height: 40px;
    opacity: 0.8;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
    margin-bottom: 50px;
}

.projects {
    width: 100%;
    margin-top: 200px;
    background-color: #fff;
    height: auto;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 50% 50%;
    grid-template-columns: 50% 50%;
}

.projects .myprojects h3 {
    color: #3751ff;
}

.projects .myprojects {
    width: 100%;
    background-color: white;
    font-size: 50px;
    margin-bottom: 10px;
    line-height: 100px;
}

.projects h4 {
    font-size: 25px;
    font-weight: bolder;
    font-family: sans-serif;
}

.projects .projects-content-info {
    width: 100%;
}

.projects .projects-content-info p {
    font-size: 25px;
    font-family: sans-serif;
    letter-spacing: 2px;
    line-height: 30px;
    margin-bottom: 80px;
}

.install {
    border: 3px solid #3751ff;
    outline: none;
    width: 150px;
    height: 50px;
    border-radius: 10px;
    font-size: 17px;
    background-color: white;
    color: #3751ff;
    cursor: pointer;
}

.install a {
    list-style: none;
    text-decoration: none;
    margin: 5px;
    color: #3751ff;
}

.install:hover {
    opacity: 0.8;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
    width: 152px;
}

.projects i {
    margin: 5px;
}

.projects .projects-content-image {
    width: 100%;
}

.projects .projects-content-image img {
    height: auto;
    width: 80%;
    margin: 50px 50px;
    cursor: pointer;
}

.projects .projects-content-image img:hover {
    opacity: 0.9;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
}

.about-me {
    background-color: rgb(255, 255, 255);
    width: 100%;
    margin-top: 156px;
    text-align: center;
    font-family: sans-serif;
    -webkit-transition: all 2s;
    transition: all 2s;
}

.about-me .mySkills {
    text-align: left;
    font-size: 60px;
    color: #3751ff;
    font-weight: bold;
    margin: 20px;
}

.about-me .about-me-content {
    display: inline-block;
    background-color: rgb(255, 255, 255);
    width: 22%;
    margin: 10px;
    height: 300px;
    border-radius: 10px;
    box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.096);
}

.about-me .about-me-content img {
    width: 70%;
    padding: 10px;
    border-radius: 50%;
}

.about-me .about-me-content i {
    font-size: 100px;
}

.about-me .about-me-content h4 {
    font-size: 20px;
    margin: 10px;
}

.social {
    display: none;
}

footer {
    width: 100%;
    height: 50px;
    background-color: #8f71ff;
    margin-top: 200px;
    text-align: center;
    padding: 15px;
    font-size: 20px;
}

.social-icons {
    margin: 10px;
    position: fixed;
    top: 50%;
    left: 1%;
    width: 5%;
    -webkit-transition: all 2s;
    transition: all 2s;
}

.social-icons a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 15px;
    text-decoration: none;
}

.social-icons a img {
    width: 80%;
}

.social-icons a i {
    font-size: 17px;
}

.social-icons a i:hover {
    font-size: 25px;
    -webkit-transition: 0.5s;
    transition: 0.5s;
}

.social-icons img {
    color: aquamarine;
}

.fa-twitter {
    color: black;
    font-size: 31px;
}

.fa-twitter:hover {
    color: #1DA1F2;
}

.fa-instagram-square {
    color: black;
    font-size: 33px;
}

.fa-instagram-square:hover {
    color: #C13584;
}

.fa-github {
    color: black;
    font-size: 32px;
}

.fa-github:hover {
    color: #211F1F;
}

.fa-envelope-open-text {
    color: black;
    font-size: 30px;
}

.fa-envelope-open-text:hover {
    color: #B23121;
}

@media all and (min-width: 1800px) {
    .header .nav {
        width: 25%;
        background-color: #fff;
    }
    .header .nav li {
        padding: 20px 10px;
    }
    .header .nav li a {
        font-size: 22px;
    }
    .about-me .about-me-content {
        width: 20%;
        height: 400px;
    }
    footer {
        height: 60px;
    }
    footer p {
        font-size: 30px;
    }
}

@media all and (min-width: 1024px) and (max-width: 1200px) {
    body {
        background-color: #fff;
    }
    .logo {
        width: 30%;
        float: left;
    }
    .header .nav {
        width: 35%;
        background-color: #fff;
    }
    .header .nav li {
        padding: 20px 10px;
    }
    .about-me .about-me-content {
        width: 35%;
        height: 350px;
    }
    .container {
        width: 70%;
        margin: auto;
        height: auto;
        background-color: white;
        margin-top: 70px;
        -webkit-transition: all 2s;
        transition: all 2s;
    }
    .projects .projects-content-info p {
        font-size: 25px;
        font-family: sans-serif;
        letter-spacing: 1px;
        line-height: 25px;
        margin-bottom: 50px;
        font-family: 'Times New Roman', Times, serif;
    }
    .projects .projects-content-image img {
        width: 95%;
        margin: 150px 50px;
    }
}

@media all and (min-width: 768px) and (max-width: 1023px) {
    body {
        background-color: #fff;
    }
    .logo {
        width: 30%;
        float: left;
    }
    .header .nav {
        width: 49%;
        background-color: #fff;
    }
    .header .nav li {
        padding: 20px 10px;
    }
    .about-me .about-me-content {
        width: 42%;
        height: 350px;
    }
    .container {
        width: 70%;
        margin: auto;
        height: auto;
        background-color: white;
        margin-top: 70px;
        -webkit-transition: all 2s;
        transition: all 2s;
    }
    .projects .projects-content-info p {
        font-size: 25px;
        font-family: sans-serif;
        letter-spacing: 1px;
        line-height: 25px;
        margin-bottom: 50px;
        font-family: 'Times New Roman', Times, serif;
    }
    .projects .projects-content-image img {
        width: 95%;
        margin: 150px 50px;
    }
}

@media all and (max-width: 767px) {
    .header {
        display: none;
    }
    nav {
        background-color: rgb(255, 255, 255);
        padding: 5px 20px;
        display: block;
        width: 100vw;
        position: fixed;
        top: 0;
        left: 0;
        box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.315);
        width: 100%;
        z-index: 10;
    }
    nav ul {
        list-style: none;
    }
    nav ul li a {
        text-decoration: none;
        text-transform: capitalize;
        color: black;
        font-size: 18px;
        font-family: sans-serif;
        text-transform: capitalize;
        opacity: 0.9999;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=99)";
    }
    nav ul li a:hover {
        text-decoration: underline;
    }
    .menu li {
        font-size: 16px;
        padding: 15px 5px;
    }
    .logo a {
        font-family: 'Mogra', cursive;
        font-size: 2.5em;
        text-decoration: none;
        font-weight: 600;
        color: #3751ff;
    }
    .logo a:hover {
        text-decoration: none;
    }
    .menu {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }
    .toggle {
        -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
        order: 1;
    }
    .items {
        text-align: center;
        width: 50%;
        margin: 0;
        -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
        order: 2;
        display: none;
    }
    .items.active {
        display: block;
    }
    .toggle {
        cursor: pointer;
    }
    .bars {
        display: inline-block;
        background-color: #000;
        width: 22px;
        height: 3px;
        position: relative;
        border-radius: 5px;
    }
    .bars:before,
    .bars:after {
        content: "";
        display: inline-block;
        background-color: #000;
        height: 3px;
        position: absolute;
        width: 22px;
        border-radius: 5px;
    }
    .bars:before {
        top: 6px;
    }
    .bars:after {
        top: -6px;
    }
    nav ul li a {
        font-size: 16px;
    }
    .container {
        width: 90%;
    }
    .container .intro {
        padding-top: 150px;
    }
    .intro-hello {
        font-size: 25px;
        opacity: 0.7;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
        text-transform: capitalize;
    }
    .intro-name {
        font-size: 50px;
    }
    .intro-skills {
        font-size: 49px;
    }
    .container .skills {
        background-color: #fff;
        height: 250px;
        margin-top: 40px;
        width: 100%;
    }
    .container .skills .Bio {
        font-size: 22px;
        word-spacing: 2px;
        line-height: 35px;
    }
    .about-me {
        margin-bottom: 80px;
    }
    .about-me .mySkills {
        font-size: 50px;
    }
    .about-me .about-me-content {
        display: inline-block;
        background-color: #fff;
        width: 43%;
        margin: 10px;
        height: 300px;
        border-radius: 10px;
        box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.096);
    }
    .about-me .about-me-content img {
        width: 50%;
        padding: 10px;
        border-radius: 50%;
    }
    .about-me .about-me-content i {
        font-size: 100px;
    }
    .about-me .about-me-content h4 {
        font-size: 20px;
        margin: 10px;
    }
    .projects {
        width: 100%;
        margin-top: 200px;
        background-color: #fff;
        height: auto;
        display: block;
    }
    .projects .myprojects h3 {
        font-size: 65px;
    }
    .projects .myprojects {
        width: 100%;
        background-color: white;
        font-size: 50px;
        margin-bottom: 5px;
        line-height: 85px;
    }
    .projects h4 {
        font-size: 25px;
        font-weight: bolder;
        font-family: sans-serif;
    }
    .projects .projects-content-info {
        width: 100%;
    }
    .projects .projects-content-info p {
        font-size: 20px;
        font-family: sans-serif;
        letter-spacing: 1px;
        line-height: 25px;
        margin-bottom: 35px;
    }
    .install {
        border: 3px solid #3751ff;
        outline: none;
        width: 150px;
        height: 50px;
        border-radius: 10px;
        font-size: 17px;
        background-color: white;
        color: #3751ff;
        cursor: pointer;
    }
    .install a {
        list-style: none;
        text-decoration: none;
        margin: 5px;
        color: #3751ff;
    }
    .install:hover {
        opacity: 0.8;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
        -webkit-transition: all 0.4s;
        transition: all 0.4s;
        width: 152px;
    }
    .projects i {
        margin: 5px;
    }
    .projects .projects-content-image {
        width: 100%;
        text-align: center;
    }
    .projects .projects-content-image img {
        height: auto;
        width: 90%;
        margin: 50px 0px;
        cursor: pointer;
    }
    .projects .projects-content-image img:hover {
        opacity: 0.9;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
    }
    .social-icons {
        display: none;
    }
    footer {
        width: 100%;
        height: 55px;
        background-color: #8f71ff;
        margin-top: 10px;
        text-align: center;
        padding: 7px;
    }
    footer p {
        font-size: 19px;
        opacity: 0.8;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
        padding: 10px;
    }
    .social {
        display: block;
        text-align: center;
        padding: 10px;
    }
    .social .social-content a {
        padding: 10px;
    }
    .social a i:hover {
        font-size: 35px;
        -webkit-transition: 0.5s;
        transition: 0.5s;
    }
}

@media screen and (min-width: 456px) and (max-width: 600px) {
    nav ul li a {
        font-size: 16px;
    }
    .container {
        width: 90%;
    }
    .container .intro {
        padding-top: 100px;
    }
    .intro-hello {
        font-size: 25px;
        opacity: 0.7;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
        text-transform: capitalize;
    }
    .intro-name {
        font-size: 50px;
    }
    .intro-skills {
        font-size: 29px;
    }
    .container .skills {
        background-color: #fff;
        height: 250px;
        margin-top: 40px;
        width: 100%;
    }
    .container .skills .Bio {
        font-size: 17px;
        word-spacing: 2px;
        line-height: 35px;
    }
    .about-me {
        margin-bottom: 80px;
    }
    .about-me .mySkills {
        font-size: 50px;
    }
    .about-me .about-me-content {
        display: inline-block;
        background-color: #fff;
        width: 43%;
        margin: 10px;
        height: 300px;
        border-radius: 10px;
        box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.096);
    }
    .about-me .about-me-content img {
        width: 50%;
        padding: 10px;
        border-radius: 50%;
    }
    .about-me .about-me-content i {
        font-size: 100px;
    }
    .about-me .about-me-content h4 {
        font-size: 20px;
        margin: 10px;
    }
    .projects {
        width: 100%;
        margin-top: 200px;
        background-color: #fff;
        height: auto;
        display: block;
    }
    .projects .myprojects h3 {
        font-size: 55px;
    }
    .projects .myprojects {
        width: 100%;
        background-color: white;
        font-size: 50px;
        margin-bottom: 5px;
        line-height: 85px;
    }
    .projects h4 {
        font-size: 20px;
        font-weight: bolder;
        font-family: sans-serif;
    }
    .projects .projects-content-info {
        width: 100%;
    }
    .projects .projects-content-info p {
        font-size: 20px;
        font-family: sans-serif;
        letter-spacing: 1px;
        line-height: 25px;
        margin-bottom: 35px;
    }
    .install {
        border: 3px solid #3751ff;
        outline: none;
        width: 150px;
        height: 50px;
        border-radius: 10px;
        font-size: 17px;
        background-color: white;
        color: #3751ff;
        cursor: pointer;
    }
    .install a {
        list-style: none;
        text-decoration: none;
        margin: 5px;
        color: #3751ff;
    }
    .install:hover {
        opacity: 0.8;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
        -webkit-transition: all 0.4s;
        transition: all 0.4s;
        width: 152px;
    }
    .projects i {
        margin: 5px;
    }
    .projects .projects-content-image {
        width: 100%;
        text-align: center;
    }
    .projects .projects-content-image img {
        height: auto;
        width: 90%;
        margin: 50px 0px;
        cursor: pointer;
    }
    .projects .projects-content-image img:hover {
        opacity: 0.9;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
    }
    .social-icons {
        display: none;
    }
    footer {
        width: 100%;
        height: 55px;
        background-color: #8f71ff;
        margin-top: 10px;
        text-align: center;
        padding: 7px;
    }
    footer p {
        font-size: 19px;
        opacity: 0.8;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
    }
}

@media screen and (min-width: 312px) and (max-width: 455px) {
    nav ul li a {
        font-size: 16px;
    }
    .container {
        width: 90%;
    }
    .container .intro {
        padding-top: 100px;
    }
    .intro-hello {
        font-size: 25px;
        opacity: 0.7;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
        text-transform: capitalize;
    }
    .intro-name {
        font-size: 40px;
    }
    .intro-skills {
        font-size: 26px;
    }
    .container .skills {
        background-color: #fff;
        height: 250px;
        margin-top: 40px;
        width: 100%;
    }
    .container .skills .Bio {
        font-size: 17px;
        word-spacing: 2px;
        line-height: 35px;
    }
    .about-me {
        margin-bottom: 80px;
    }
    .about-me .mySkills {
        font-size: 50px;
    }
    .about-me .about-me-content {
        display: inline-block;
        background-color: #fff;
        width: 75%;
        margin: 10px;
        height: 300px;
        border-radius: 10px;
        box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.096);
    }
    .about-me .about-me-content img {
        width: 50%;
        padding: 10px;
        border-radius: 50%;
    }
    .about-me .about-me-content i {
        font-size: 100px;
    }
    .about-me .about-me-content h4 {
        font-size: 20px;
        margin: 10px;
    }
    .projects {
        width: 100%;
        margin-top: 200px;
        background-color: #fff;
        height: auto;
        display: block;
    }
    .projects .myprojects h3 {
        font-size: 55px;
    }
    .projects .myprojects {
        width: 100%;
        background-color: white;
        font-size: 50px;
        margin-bottom: 5px;
        line-height: 85px;
    }
    .projects h4 {
        font-size: 20px;
        font-weight: bolder;
        font-family: sans-serif;
    }
    .projects .projects-content-info {
        width: 100%;
    }
    .projects .projects-content-info p {
        font-size: 20px;
        font-family: sans-serif;
        letter-spacing: 1px;
        line-height: 25px;
        margin-bottom: 35px;
    }
    .install {
        border: 3px solid #3751ff;
        outline: none;
        width: 150px;
        height: 50px;
        border-radius: 10px;
        font-size: 17px;
        background-color: white;
        color: #3751ff;
        cursor: pointer;
    }
    .install a {
        list-style: none;
        text-decoration: none;
        margin: 5px;
        color: #3751ff;
    }
    .install:hover {
        opacity: 0.8;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
        -webkit-transition: all 0.4s;
        transition: all 0.4s;
        width: 152px;
    }
    .projects i {
        margin: 5px;
    }
    .projects .projects-content-image {
        width: 100%;
        text-align: center;
    }
    .projects .projects-content-image img {
        height: auto;
        width: 90%;
        margin: 50px 0px;
        cursor: pointer;
    }
    .projects .projects-content-image img:hover {
        opacity: 0.9;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
    }
    .social-icons {
        position: fixed;
        -webkit-transition: all 2s;
        transition: all 2s;
        position: unset;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        width: 100%;
        margin: auto;
        display: none;
    }
    .social-icons a {
        display: unset;
        padding: 1px;
        text-decoration: none;
        text-align: center;
        margin: auto;
        display: inline-block;
    }
    .social-icons i {
        display: inline-block;
    }
    .social-icons a i:hover {
        font-size: 35px;
        -webkit-transition: 0.5s;
        transition: 0.5s;
    }
    footer {
        width: 100%;
        height: 85px;
        background-color: #8f71ff;
        margin-top: 10px;
        text-align: center;
        padding: 7px;
    }
    footer p {
        font-size: 19px;
        opacity: 0.8;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
    }
}